<div class="main_container"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag "ego_app_icon.jpg", :class => "app_logo" %>
      </div>
      <div class="col-md-4">
        <p class="contact_text"> Contact us at 9623099600 / ankush@amuratech.com </p>
      </div>
      <div class="col-md-6 account_operations">
        <p class="login_operation">Login</p>
        <p class="signup_operation">SignUp</p>
      </div>
    </div>
    <div class="info_container">
      <div class="row">
        <div class="col-md-6">
          <div class="company_info_container"></div>
        </div>
        <div class="col-md-12">
          <div class="company_operations_menu">
            <p class="book_pick_up">Book a pickup </p>
            <p class="manage_my_pickup"> Take a package pickup </p>
            <p class="manage_my_share"> Appoint my vehicle </p>
            <p class="book_share"> Book a share cab</p>
            <p class="book_new"> Book a cab </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>